@page "/recipes/details"
@using Microsoft.EntityFrameworkCore
@using Ratatouille.Models
@inject IDbContextFactory<Ratatouille.Data.RatatouilleContext> DbFactory
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<PageTitle>Dettagli Ricetta</PageTitle>

@if (recipe is null)
{
    <p style="text-align:center;"><em>Caricamento...</em></p>
}
else
{
    <div class="details-back-btn-wrapper">
        <a href="/recipes" class="details-back-btn" title="Indietro">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <div class="details-main">
        <div class="details-title-row">
            <div class="details-title">@recipe.Title</div>
            <div class="details-actions-top">
                <a href="@($"/recipes/edit?id={recipe.Id}")" class="details-edit-btn" title="Modifica">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="@($"/recipes/delete?id={recipe.Id}")" class="details-delete-btn" title="Elimina">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(recipe.ImageURL))
        {
            <img src="@recipe.ImageURL" alt="@recipe.Title" class="details-img" />
        }
        <div>
            <div class="details-label">Descrizione</div>
            <div class="details-value">@recipe.Description</div>
        </div>
        <div>
            <div class="details-label">Ingredienti</div>
            <div class="details-value">@recipe.Ingredients</div>
        </div>
    </div>
}

@code {
    private Recipe? recipe;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        recipe = await context.Recipe.FirstOrDefaultAsync(m => m.Id == Id);

        if (recipe is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
